.cart-item-container {
    width: 100%;
    display: flex;
    margin-bottom: 15px;

    .item-details {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;

        .name {
            font-size: 16px;
        }
    }

    .item-image {
        width: 30%;
    }
}