.cart-icon-container {
    margin: 1em;
    min-height: 25px;
    min-width: 25px;
    position: relative;
    
    .shopping-icon {
        position: absolute;
        margin: 0.01em;
    }

    .item-count {
        padding: 1px 0 0 0;
        font-size: 0.75rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.cart-icon-container:hover {
    cursor: pointer;    
}