.checkoutitems-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 2em 0;
    padding: 1em 10em;

    .item-headings {
        display: grid;
        grid-template-columns: 2.25fr 1.5fr 1fr 0.75fr 0.75fr;
    }

    .checkoutitems {
        display: grid;
        grid-template-columns: 1fr 1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.5fr;
        align-items: center;
        grid-gap: 0.25em;
        margin: 1em auto;
        font-size: 1rem;

        .item-image {
            width: 210px;
            height: 260px;
        }

        .item-name {
            margin: 0 3em;
        }

        .item-arrow {
            font-size: 1.5rem;
            margin: 0 auto;
            border: none;
            padding: 10px;

            &:hover {
                cursor: pointer;
                background-color: rgb(225, 225, 225);
            }
        }

        .item-price {
            margin: 0 auto;
        }

        .item-count {
            margin: 0 auto;
        }

        .item-remove {
            font-size: 1.5rem;
            font-family: monospace;
            margin: 0 auto;
            padding: 0.5em;

            &:hover {
                cursor: pointer;
                background-color: rgb(225, 225, 225);
            }
        }
    }
}